---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={`Ian Axel - ${t('nav.about')}`}>
  <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
    <div class="max-w-2xl">
      <div class="space-y-5 md:space-y-8">
        <div class="space-y-3">
          <h2 class="text-2xl font-bold md:text-3xl dark:text-white">{t('about.title')}</h2>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.presentation.p1')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.presentation.p2')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.presentation.p3')}</p>
        </div>

        <div class="space-y-3">
          <h2 class="text-2xl font-bold md:text-3xl dark:text-white">{t('about.myPath.title')}</h2>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.myPath.p1')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.myPath.p2')}</p>
        </div>

        <div class="space-y-3">
          <h2 class="text-2xl font-bold md:text-3xl dark:text-white">{t('about.howIWork.title')}</h2>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.howIWork.p1')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.howIWork.p2')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.howIWork.p3')}</div>

        <div class="space-y-3">
          <h2 class="text-2xl font-bold md:text-3xl dark:text-white">{t('about.beyondCode.title')}</h2>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.beyondCode.p1')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.beyondCode.p2')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.beyondCode.p3')}</p>
        </div>

        <div class="space-y-3">
          <h2 class="text-2xl font-bold md:text-3xl dark:text-white">{t('about.lookingFor.title')}</h2>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.lookingFor.p1')}</p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">
            <la>
              <li>
                <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.lookingFor.l1')}</p>
              </li>
              <li>
                  <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.lookingFor.l2')}</p>
              </li>
              <li>
                  <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.lookingFor.l3')}</p>
              </li>
            </la>
          </p>
          <p class="text-lg text-justify text-gray-800 dark:text-neutral-200">{t('about.lookingFor.p2')}</p>
        </div>
        

        <figure>
          <img class="w-full object-cover rounded-xl" src="https://images.unsplash.com/photo-1671726203454-488ab18f7eda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Workspace">
          <figcaption class="mt-3 text-sm text-center text-gray-500 dark:text-neutral-500">
            {lang === 'en' ? 'My workspace' : 'Mi espacio de trabajo'}
          </figcaption>
        </figure>

      </div>
    </div>
  </div>
</BaseLayout>
