---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/ui/Card.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const notes = [
  {
    title: t('notes.note1.title'),
    date: t('notes.note1.date'),
    excerpt: t('notes.note1.excerpt'),
    link: "https://medium.com/@Rutik_Maraskolhe/the-future-of-swiftui-development-from-architecture-choices-to-ai-integration-c6c714d505a4",
  },
  {
    title: t('notes.note2.title'),
    date: t('notes.note2.date'),
    excerpt: t('notes.note2.excerpt'),
    link: "https://gptzone.net/noticias/apple-presenta-xcode-26-con-ia-nativa-chatgpt-y-live-translation-para-desarrolladores/",
  },
  {
    title: t('notes.note3.title'),
    date: t('notes.note3.date'),
    excerpt: t('notes.note3.excerpt'),
    link: "https://www.seidor.com/es-mx/blog/importancia-arquitecturas-modulares-aplicaciones-moviles",
  },
  {
    title: t('notes.note4.title'),
    date: t('notes.note4.date'),
    excerpt: t('notes.note4.excerpt'),
    link: "https://www.youtube.com/watch?v=9vkkJ4tC4SQ",
  },
  {
    title: t('notes.note5.title'),
    date: t('notes.note5.date'),
    excerpt: t('notes.note5.excerpt'),
    link: "https://refactoring.guru/es/design-patterns",
  },
  {
    title: t('notes.note6.title'),
    date: t('notes.note6.date'),
    excerpt: t('notes.note6.excerpt'),
    link: "https://www.codewars.com/dashboard",
  },
];
---

<BaseLayout title={`Ian Axel - ${t('nav.notes')}`}>
  <section class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">{t('nav.notes')}</h2>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {notes.map((note) => (
        <Card href={note.link} target='_blank' class="h-full">
          <div class="flex flex-col h-full p-4">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white group-hover:text-blue-600 dark:group-hover:text-blue-500">
              {note.title}
            </h3>
            <p class="mt-1 text-xs text-gray-500 dark:text-neutral-500">
              {note.date}
            </p>
            <p class="mt-3 text-justify text-gray-600 dark:text-neutral-400 flex-grow">
              {note.excerpt}
            </p>
            <div class="mt-4">
                <span class="text-blue-600 dark:text-blue-500 text-sm font-medium hover:underline">{t('notes.more.title')}</span>
            </div>
          </div>
        </Card>
      ))}
    </div>
  </section>
</BaseLayout>
